.book-summary ul.summary li.active > a {
  color: #dc1fff;
}

.book-summary ul.summary li a:hover {
  color: #bd00d5;
  text-decoration: none;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none;
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #bd00d5;
}

.token.operator {
  background: none;
}
