{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": "test/**/*.tsx?",
      "env": {
        "jest": true
      }
    }
  ],
  "ignorePatterns": ["**/dist", "node_modules"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // "react/jsx-uses-react": "off",
    "react/prop-types": "off",
    // "react/react-in-jsx-scope": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
