name: Test Coverage

on:
  push:
    branches: [master]
    tags: ['!*'] # don't execute on tags

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - run: pnpm i --frozen-lockfile
      - run: pnpm build
      - run: pnpm test
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./coverage
          fail_ci_if_error: true
          name: zedux-master
          token: ${{ secrets.CODECOV_TOKEN }}
