name: Run Tests

on:
  pull_request:
    branches:
      - master
      - 'next/v*.x'
      - 'v*.x'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - run: pnpm i --frozen-lockfile
      - run: pnpm build
      - run: pnpm test
